
main{
  padding-top: 5rem;
  margin-left: 5rem;
  padding-bottom: 5rem;
}
.footer {

    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#191919', endColorStr='#000000');
    border-top: 1px solid rgba(50, 50, 50, 0.3);
    width: 100%;
    height: 100%;
    position: relative;
    clear: both;
    margin-top: 0px;
    padding-top: 0px;
    overflow: visible;
    border-top: 1px solid #222;

  }
  .post-footer {
    width: 950px;
    margin: 0 auto;
  } 

input[type=textfield] {
    width: 75%;
    padding: 16px 32px;
    font-size: 16px;
    margin: 8px 0;
    border: 1px solid silver;
    border-radius: 1px;
    text-align: left;
    color: #333;
    background: #ccc;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #ffc013;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    min-width: 21%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #333;
}